.bucket {
  width: 250px;
  padding: 16px;
}

.bucket__group--margin {
  margin-bottom: 20px;
}

.bucket__text-percentage {
  text-align: right;
}

.bucket__button-group {
  display: flex;
  width: max-content;
  justify-content: center;
  margin: 30px 0 -20px 0;
}
