.calculator-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-page__bucket-container {
  max-width: 1000px;
}

.calculator-page__bucket-group {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.calculator-page__input-group {
  max-width: 300px;
}
